release/delivery.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="icon" href="images/favicon.png" sizes="32x32">
    <title>Небо Фрагранс</title>
  </head>
  <body><div class="loader-wrapper">
<div class="loader">
<div></div>
<div></div>
</div>
</div><div class="header">
<div class="top-header">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-5 col-xl-4 top-header__left d-flex align-items-center">
    <div class="header-adress pr-5 d-flex align-items-center"><img class="lazyload mr-2" data-src="images/adress.svg" alt="img"><span>Москва</span></div><a class="header-phone ml-5 d-flex align-items-center" href="tel:+74957485966"><img class="lazyload mr-2" data-src="images/phone.svg" alt="img"><span>+7 (495) 748-59-66</span></a></div>
    <div class="col-lg-5 col-xl-4">
      <ul class="d-flex align-items-center">
        <li><a href="#">О компании</a></li>
        <li><a href="#">Доставка и оплата</a></li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div><div class="col-lg-2 col-xl-4 top-header__right">
    <div class="social-block justify-content-end"><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.51562 24H11.3438V15.4688H8.53125V12.6562H11.3438V9.14062C11.3438 7.20209 12.9208 5.625 14.8594 5.625H18.375V8.4375H15.5625C14.787 8.4375 14.1562 9.0683 14.1562 9.84375V12.6562H18.2481L17.7794 15.4688H14.1562V24H20.4844C22.4229 24 24 22.4229 24 20.4844V3.51562C24 1.57709 22.4229 0 20.4844 0H3.51562C1.57709 0 0 1.57709 0 3.51562V20.4844C0 22.4229 1.57709 24 3.51562 24ZM1.40625 3.51562C1.40625 2.35254 2.35254 1.40625 3.51562 1.40625H20.4844C21.6475 1.40625 22.5938 2.35254 22.5938 3.51562V20.4844C22.5938 21.6475 21.6475 22.5938 20.4844 22.5938H15.5625V16.875H18.9706L19.9081 11.25H15.5625V9.84375H19.7812V4.21875H14.8594C12.1454 4.21875 9.9375 6.42664 9.9375 9.14062V11.25H7.125V16.875H9.9375V22.5938H3.51562C2.35254 22.5938 1.40625 21.6475 1.40625 20.4844V3.51562Z"/>
</svg></a><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.5034 0H6.49657C2.9143 0 0 2.9143 0 6.49657V17.5036C0 21.0857 2.9143 24 6.49657 24H17.5036C21.0857 24 24 21.0857 24 17.5036V6.49657C24 2.9143 21.0857 0 17.5034 0V0ZM22.593 17.5036C22.593 20.3098 20.3098 22.593 17.5034 22.593H6.49657C3.69012 22.593 1.40698 20.3098 1.40698 17.5036V6.49657C1.40698 3.69012 3.69012 1.40698 6.49657 1.40698H17.5036C20.3098 1.40698 22.593 3.69012 22.593 6.49657V17.5036Z"/>
<path d="M12 5.43767C8.38152 5.43767 5.43774 8.38145 5.43774 12C5.43774 15.6185 8.38152 18.5623 12 18.5623C15.6186 18.5623 18.5624 15.6185 18.5624 12C18.5624 8.38145 15.6186 5.43767 12 5.43767ZM12 17.1553C9.15752 17.1553 6.84472 14.8427 6.84472 12C6.84472 9.15745 9.15752 6.84465 12 6.84465C14.8428 6.84465 17.1554 9.15745 17.1554 12C17.1554 14.8427 14.8428 17.1553 12 17.1553Z"/>
<path d="M18.7191 3.10711C17.6498 3.10711 16.78 3.97704 16.78 5.04619C16.78 6.11553 17.6498 6.98546 18.7191 6.98546C19.7884 6.98546 20.6584 6.11553 20.6584 5.04619C20.6584 3.97686 19.7884 3.10711 18.7191 3.10711ZM18.7191 5.5783C18.4258 5.5783 18.187 5.33953 18.187 5.04619C18.187 4.75268 18.4258 4.51409 18.7191 4.51409C19.0126 4.51409 19.2514 4.75268 19.2514 5.04619C19.2514 5.33953 19.0126 5.5783 18.7191 5.5783Z"/>
</svg></a></div></div>
</div>
</div>
</div>
<div class="main-header">
<nav class="navbar navbar-expand-lg main-navbar">
<div class="container">
<a class="navbar-brand" href="index.html">
<img class="logo lazyload" src="images/logo_white.png" alt="img">
</a>
<div class="header__btn">
<div class="header-search">
<a role="button" class="header-search__btn">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.5312 8.90625C14.2725 8.90625 14.0625 9.11625 14.0625 9.375C14.0625 9.63375 14.2725 9.84375 14.5312 9.84375C14.79 9.84375 15 9.63375 15 9.375C15 9.11625 14.79 8.90625 14.5312 8.90625Z" fill="white"/>
<path d="M23.4507 20.7993L17.1938 14.5425C18.2131 13.0071 18.75 11.2291 18.75 9.375C18.75 4.20563 14.5444 0 9.375 0C4.20563 0 0 4.20563 0 9.375C0 14.5444 4.20563 18.75 9.375 18.75C11.2292 18.75 13.0072 18.213 14.5425 17.1938L16.2719 18.9233C16.2721 18.9235 16.2724 18.9238 16.2727 18.924L20.7993 23.4507C21.1536 23.8049 21.6243 24 22.125 24C22.6257 24 23.0964 23.8049 23.4505 23.4508C23.8049 23.0968 24 22.626 24 22.125C24 21.624 23.8049 21.1532 23.4507 20.7993ZM14.322 16.206C14.322 16.206 14.322 16.206 14.3219 16.206C12.875 17.257 11.1645 17.8125 9.375 17.8125C4.72256 17.8125 0.9375 14.0274 0.9375 9.375C0.9375 4.72256 4.72256 0.9375 9.375 0.9375C14.0274 0.9375 17.8125 4.72256 17.8125 9.375C17.8125 11.1645 17.257 12.875 16.206 14.322C15.6802 15.0463 15.0464 15.6802 14.322 16.206ZM15.3054 16.6309C15.7906 16.234 16.2341 15.7905 16.6309 15.3054L17.9608 16.6353C17.5564 17.1127 17.1127 17.5564 16.6353 17.9608L15.3054 16.6309ZM22.7878 22.7878C22.6106 22.965 22.3752 23.0625 22.125 23.0625C21.8748 23.0625 21.6394 22.965 21.4622 22.7878L17.3 18.6255C17.7747 18.2181 18.2181 17.7747 18.6255 17.3L22.7879 21.4624C22.965 21.6393 23.0625 21.8746 23.0625 22.125C23.0625 22.3754 22.965 22.6107 22.7878 22.7878Z" fill="white"/>
<path d="M9.375 1.875C5.23945 1.875 1.875 5.23945 1.875 9.375C1.875 13.5105 5.23945 16.875 9.375 16.875C13.5105 16.875 16.875 13.5105 16.875 9.375C16.875 5.23945 13.5105 1.875 9.375 1.875ZM9.375 15.9375C5.75644 15.9375 2.8125 12.9936 2.8125 9.375C2.8125 5.75644 5.75644 2.8125 9.375 2.8125C12.9936 2.8125 15.9375 5.75644 15.9375 9.375C15.9375 12.9936 12.9936 15.9375 9.375 15.9375Z" fill="white"/>
<path d="M14.6281 7.3628C14.2244 6.31223 13.5216 5.41402 12.5956 4.76531C11.6475 4.10109 10.5338 3.75 9.375 3.75C9.11616 3.75 8.90625 3.95991 8.90625 4.21875C8.90625 4.47759 9.11616 4.6875 9.375 4.6875C11.3015 4.6875 13.0608 5.89772 13.7529 7.69908C13.8246 7.88545 14.0022 7.99983 14.1906 7.99983C14.2465 7.99983 14.3034 7.98975 14.3586 7.96852C14.6003 7.87566 14.7209 7.60448 14.6281 7.3628Z" fill="white"/>
</svg>
</a>
<div class="header-search__box" id="the-basics">
<form action="index.php" method="POST">
<div class="search-input">
<input type="text" class="form-control typeahead" id="search" name="search" value="" placeholder="Поиск...">
</div>
</form>
</div>
</div>
<a href="#" class="header__btn-dropdown" data-target="cartBtn">
<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M21.4088 23.2111L19.5847 5.8405C19.5464 5.47685 19.2399 5.20073 18.8743 5.20073H15.4458V4.41905C15.4458 1.98247 13.4633 -7.62939e-06 11.0267 -7.62939e-06C8.58998 -7.62939e-06 6.6075 1.98247 6.6075 4.41905V5.20073H3.17904C2.81338 5.20073 2.50687 5.47685 2.4686 5.8405L0.644503 23.2111C0.623446 23.4124 0.688815 23.6132 0.824129 23.7637C0.959627 23.9141 1.15262 23.9999 1.35495 23.9999H20.6982C20.9007 23.9999 21.0937 23.9141 21.229 23.7637C21.3647 23.6132 21.4299 23.4124 21.4088 23.2111ZM8.03609 4.41905C8.03609 2.77019 9.3777 1.42858 11.0267 1.42858C12.6756 1.42858 14.0172 2.77019 14.0172 4.41905V5.20073H8.03609V4.41905ZM2.14816 22.5714L3.82229 6.62931H6.6075V8.20347C6.6075 8.59788 6.92739 8.91776 7.3218 8.91776C7.7162 8.91776 8.03609 8.59788 8.03609 8.20347V6.62931H14.0172V8.20347C14.0172 8.59788 14.3371 8.91776 14.7315 8.91776C15.1259 8.91776 15.4458 8.59788 15.4458 8.20347V6.62931H18.231L19.9051 22.5714H2.14816Z" fill="white"/>
</svg>
<span class="btn-badge">2</span>
</a>
<div id="actionsDropdown">
<div class="dropdown-wrapper" id="cartBtn" data-collapse="false">
<div class="cart-list">
<ul class="list-no-style">
<li class="cart-list__item">
<div class="media">
<a href="#" class="product-img">
<img src="images/product(13).jpg" alt="">
</a>
<div class="media-body">
<a href="#" class="product-name">Название</a>
<div class="product-price">
<del class="old">
<span class="amount">1 200 ₽</span>
</del>
<ins class="current ">
<span class="amount">1 200 ₽</span>
</ins>
</div>
<a href="#" class="delete-icon"><i class="fas fa-times"></i></a>
</div>
</div>
</li>
<li class="cart-list__item">
<div class="media">
<a href="#" class="product-img">
<img src="images/product%20(5).jpg" alt="">
</a>
<div class="media-body">
<a href="#" class="product-name">Название Название Название Название</a>
<div class="product-price">
<span class="amount">1 200 ₽</span>
</div>
<a href="#" class="delete-icon"><i class="fas fa-times"></i></a>
</div>
</div>
</li>
</ul>
<div class="dropdown-wrapper-divider"></div>
<div class="dropdown-wrapper-footer">
<div class="total-price">
<span>Цена</span>
<span class="price">2 400 ₽</span>
</div>
<div class="footer-btn">
<a href="#" class="button button--dark-outline">Корзина</a>
<a href="#" class="button button--dark">Оформить</a>
</div>
</div>
</div>
</div>
</div>
</div>
<button id="burger" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <svg class="ham hamRotate ham8" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
      <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
      <path class="line middle" d="m 30,50 h 40"></path>
      <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
    </svg></button>
<div class="collapse navbar-collapse justify-content-lg-center" id="navbarContent">
<ul class="navbar-nav main-menu" id="mainMenu">
<li class="nav-item menu-item dropdown active">
<a class="nav-link menu-item_link" href="#" >Mr&Mrs Fragrance</a>
</li>
<li class="nav-item menu-item mega-menu dropdown">
<a class="nav-link menu-item_link" href="#" >Danhera Italy</a>
</li>
<li class="nav-item menu-item mega-menu dropdown">
<a class="nav-link menu-item_link" href="#" >Christian Tortu</a>
</li>
</ul>
</div>
</div>
</nav>
</div>
</div><div class="custom-breadcrumb custom-breadcrumb--minimal">
<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">главная</a></li>
<li class="breadcrumb-item active" aria-current="page">О компании</li>
</ol>
</nav>
</div>
</div>
    <div class="main-content">
      <div class="container">
        <div class="row py-5">
          <div class="col-12">
            <div class="delivery">
              <h1 class="pb-5">Контакты</h1><img class="lazyload mb-5" data-src="images/delivery.jpg" alt="img">
              <div class="pb-3">
                <h2 class="mb-3">Самовывоз</h2>
                <p>Оплаченный товар Вы можете получить на нашем складе по адресу: г. Москва, ул. Полярная, 41. Для юридических лиц и индивидуальных предпринимателей при получении товара при себе необходимо иметь паспорт и доверенность на получение ТМЦ по форме М2(а), оформленную должным образом. График работы склада: с понедельника по четверг с 9-00 до 17-30, в пятницу - с 9 до 16.30. Суббота, воскресенье - выходные дни.</p>
              </div>
              <div class="pb-3">
                <h2 class="mb-3">Доставка по Москве и московской области</h2>
                <ul>
                  <li>Если сумма Вашего заказа превышает 30 тыс. рублей и адрес доставки в пределах МКАД - мы доставим товар бесплатно, как правило на следующий рабочий день;</li>
                  <li>Если сумма Вашего заказа превышает 30 тыс. рублей, но адрес доставки в Новой Москве или ближайшем Подмосковье - условия доставки оговариваются с менеджером;</li>
                  <li>Если сумма Вашего заказа менее 30 тыс. рублей - доставка платная. По Москве: 400-1500 руб в зависимости от объема и веса заказа. При доставке по Московской области добавляется стоимость за километраж от МКАД - 30 руб/км.</li>
                </ul>
              </div>
              <div class="pb-3">
                <h2 class="mb-3">Доставка по России</h2>
                <ul>
                  <li>Если сумма Вашего заказа более 30 тыс. рублей - мы доставим Ваш заказ бесплатно до терминала любой транспортной компании, находящейся в Москве. В этом случае, при наличии товара на складе, доставка будет осуществлена на следующий день после зачисления денежных средств на расчетный счет.</li>
                  <li>Если сумма заказа менее 30 тыс. руб., доставка осуществляется также бесплатно, но в течение 3-х рабочих дней до терминала ТК "Первая Экспедиционная Компания" (ПЭК) или ТК "Деловые Линии". Оплата дальнейших транспортных расходов до места назначения производится покупателем непосредственно перевозчику при получении.</li>
                </ul>
                <p>Ознакомиться с тарифами на перевозку и уточнить наличие представительства компании в Вашем городе Вы сможете у перевозчика.</p>
              </div>
              <div class="pb-3">
                <h2 class="mb-3">Ценообразование и оплата</h2>
                <ul>
                  <li>Мы работаем с юридическими и физическими лицами, в т.ч. нерезидентами. Осуществляем экспорт в Беларусь и Казахстан.</li>
                  <li>Цены, указанные на сайте, включают в себя НДС 20% и актуальны при разовом заказе до 50 тыс. рублей. При заказе от 50 до 100 тыс. рублей предоставляется скидка 10%, от 100 до 300 тыс - 20%, от 300 тыс - 25%. Для дилеров и светотехнических компания предоставляются специальные условия.</li>
                  <li>Форма оплаты: наличный или безналичный расчет. К оплате принимаются банковские карты:</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><footer>
<div class="footer">
<div class="footer-top-row">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-12 footer-col">
<div class="widget widget_logo">
<img class="lazyload" data-src="images/logo_white.png" alt="img">
</div>
</div>
<div class="col-lg-3 col-md-4 footer-col">
<div class="widget widget_contact">
<div class="info-wrapper"><img class="lazyload mr-2" data-src="images/adress_white.svg" alt="img"><div class="content">
<span class="pb-2 d-block">Адрес:</span>
<p>Москва, ул. Ленина 1</p>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 footer-col">
<div class="widget widget_contact">
<div class="info-wrapper"><img class="lazyload mr-2" data-src="images/phone_white.svg" alt="img"><div class="content d-flex flex-column">
<span class="pb-2 d-block">Телефон:</span>
<a href="tel:+74957485966">+7 (495) 748-59-66</a>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 footer-col">
<div class="widget widget_contact">
<div class="info-wrapper"><img class="lazyload mr-2" data-src="images/mail_white.svg" alt="img"><div class="content d-flex flex-column">
<span class="pb-2 d-block">Email:</span>
<a href="mailto:info@dxl.ru">info@dxl.ru</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-main-content">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6 footer-col">
<div class="widget widget_about">
<div class="widget-desc">
<p>Интернет-магазин элитной парфюмерии для дома и офиса</p>
</div>
    <div class="social-block social-block_footer justify-content-start"><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.51562 24H11.3438V15.4688H8.53125V12.6562H11.3438V9.14062C11.3438 7.20209 12.9208 5.625 14.8594 5.625H18.375V8.4375H15.5625C14.787 8.4375 14.1562 9.0683 14.1562 9.84375V12.6562H18.2481L17.7794 15.4688H14.1562V24H20.4844C22.4229 24 24 22.4229 24 20.4844V3.51562C24 1.57709 22.4229 0 20.4844 0H3.51562C1.57709 0 0 1.57709 0 3.51562V20.4844C0 22.4229 1.57709 24 3.51562 24ZM1.40625 3.51562C1.40625 2.35254 2.35254 1.40625 3.51562 1.40625H20.4844C21.6475 1.40625 22.5938 2.35254 22.5938 3.51562V20.4844C22.5938 21.6475 21.6475 22.5938 20.4844 22.5938H15.5625V16.875H18.9706L19.9081 11.25H15.5625V9.84375H19.7812V4.21875H14.8594C12.1454 4.21875 9.9375 6.42664 9.9375 9.14062V11.25H7.125V16.875H9.9375V22.5938H3.51562C2.35254 22.5938 1.40625 21.6475 1.40625 20.4844V3.51562Z"/>
</svg></a><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.5034 0H6.49657C2.9143 0 0 2.9143 0 6.49657V17.5036C0 21.0857 2.9143 24 6.49657 24H17.5036C21.0857 24 24 21.0857 24 17.5036V6.49657C24 2.9143 21.0857 0 17.5034 0V0ZM22.593 17.5036C22.593 20.3098 20.3098 22.593 17.5034 22.593H6.49657C3.69012 22.593 1.40698 20.3098 1.40698 17.5036V6.49657C1.40698 3.69012 3.69012 1.40698 6.49657 1.40698H17.5036C20.3098 1.40698 22.593 3.69012 22.593 6.49657V17.5036Z"/>
<path d="M12 5.43767C8.38152 5.43767 5.43774 8.38145 5.43774 12C5.43774 15.6185 8.38152 18.5623 12 18.5623C15.6186 18.5623 18.5624 15.6185 18.5624 12C18.5624 8.38145 15.6186 5.43767 12 5.43767ZM12 17.1553C9.15752 17.1553 6.84472 14.8427 6.84472 12C6.84472 9.15745 9.15752 6.84465 12 6.84465C14.8428 6.84465 17.1554 9.15745 17.1554 12C17.1554 14.8427 14.8428 17.1553 12 17.1553Z" fill="black"/>
<path d="M18.7191 3.10711C17.6498 3.10711 16.78 3.97704 16.78 5.04619C16.78 6.11553 17.6498 6.98546 18.7191 6.98546C19.7884 6.98546 20.6584 6.11553 20.6584 5.04619C20.6584 3.97686 19.7884 3.10711 18.7191 3.10711ZM18.7191 5.5783C18.4258 5.5783 18.187 5.33953 18.187 5.04619C18.187 4.75268 18.4258 4.51409 18.7191 4.51409C19.0126 4.51409 19.2514 4.75268 19.2514 5.04619C19.2514 5.33953 19.0126 5.5783 18.7191 5.5783Z"/>
</svg></a></div></div>
</div>
<div class="col-lg-3 col-md-6 footer-col  d-none d-lg-block">
<div class="widget widget_shop-links">
<h3 class="widget-title">Каталог</h3>
<ul class="widget-list">
<li class="widget-list_item">
<a href="#">Mr&Mrs Fragrance</a>
</li>
<li class="widget-list_item">
<a href="#">Danhera Italy</a>
</li>
<li class="widget-list_item">
<a href="#">Christian Tortu</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-6 footer-col  d-none d-lg-block">
<div class="widget widget_short-links">
<h3 class="widget-title">Информация</h3>
<ul class="widget-list">
<li class="widget-list_item">
<a href="#">Оплата и доставка</a>
</li>
<li class="widget-list_item">
<a href="#">О компании</a>
</li>
<li class="widget-list_item">
<a href="#">Контакты</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-6 footer-col">
<div class="widget widget_help">
<h3 class="widget-title">Рассылка</h3>
    <p>Подпишитесь на наши акции и новинки</p>
    <form class="spam-block">
      <input class="spam-block__text" type="text" placeholder="Ваш e-mail">
      <button class="btn" type="submit">отправить</button>
    </form></div>
</div>
</div>
</div>
</div>
<div class="footer-bottom-row">
<div class="container">
    <div class="footer-bottom-row__line"></div><div class="row">
<div class="col-md-6">
<div class="widget widget_copyright">
<p class="text-center text-lg-left">2020 - Небо фрагранс | Политика конфиденциальности</p>
</div>
</div>
<div class="col-md-6 d-flex justify-content-center justify-content-lg-end"><a class="developer" href="https://deksis.ru">Разработка сайта DEKSIS.RU</a></div>
</div>
</div>
</div>
</div>
</footer><a class="back-to-top-btn" id="backToTop"></a>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/delivery.pug
extends base.pug
block content
	<div class="custom-breadcrumb custom-breadcrumb--minimal">
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">главная</a></li>
					<li class="breadcrumb-item active" aria-current="page">О компании</li>
				</ol>
			</nav>
		</div>
	</div>
	div(class="main-content")
		div(class="container")
			div(class="row py-5")
				div(class="col-12")
					div(class="delivery")
						h1(class="pb-5")
							| Контакты
						img(class="lazyload mb-5" data-src="images/delivery.jpg" alt="img")
						div(class="pb-3")
							h2(class="mb-3")
								| Самовывоз
							p
								| Оплаченный товар Вы можете получить на нашем складе по адресу: г. Москва, ул. Полярная, 41. Для юридических лиц и индивидуальных предпринимателей при получении товара при себе необходимо иметь паспорт и доверенность на получение ТМЦ по форме М2(а), оформленную должным образом. График работы склада: с понедельника по четверг с 9-00 до 17-30, в пятницу - с 9 до 16.30. Суббота, воскресенье - выходные дни.
						div(class="pb-3")
							h2(class="mb-3")
								| Доставка по Москве и московской области
							ul
								li
									| Если сумма Вашего заказа превышает 30 тыс. рублей и адрес доставки в пределах МКАД - мы доставим товар бесплатно, как правило на следующий рабочий день;
								li
									| Если сумма Вашего заказа превышает 30 тыс. рублей, но адрес доставки в Новой Москве или ближайшем Подмосковье - условия доставки оговариваются с менеджером;
								li
									| Если сумма Вашего заказа менее 30 тыс. рублей - доставка платная. По Москве: 400-1500 руб в зависимости от объема и веса заказа. При доставке по Московской области добавляется стоимость за километраж от МКАД - 30 руб/км.
						div(class="pb-3")
							h2(class="mb-3")
								| Доставка по России
							ul
								li
									| Если сумма Вашего заказа более 30 тыс. рублей - мы доставим Ваш заказ бесплатно до терминала любой транспортной компании, находящейся в Москве. В этом случае, при наличии товара на складе, доставка будет осуществлена на следующий день после зачисления денежных средств на расчетный счет.
								li
									| Если сумма заказа менее 30 тыс. руб., доставка осуществляется также бесплатно, но в течение 3-х рабочих дней до терминала ТК "Первая Экспедиционная Компания" (ПЭК) или ТК "Деловые Линии". Оплата дальнейших транспортных расходов до места назначения производится покупателем непосредственно перевозчику при получении.
							p
								| Ознакомиться с тарифами на перевозку и уточнить наличие представительства компании в Вашем городе Вы сможете у перевозчика.
						div(class="pb-3")
							h2(class="mb-3")
								| Ценообразование и оплата
							ul
								li
									| Мы работаем с юридическими и физическими лицами, в т.ч. нерезидентами. Осуществляем экспорт в Беларусь и Казахстан.
								li
									| Цены, указанные на сайте, включают в себя НДС 20% и актуальны при разовом заказе до 50 тыс. рублей. При заказе от 50 до 100 тыс. рублей предоставляется скидка 10%, от 100 до 300 тыс - 20%, от 300 тыс - 25%. Для дилеров и светотехнических компания предоставляются специальные условия.
								li
									| Форма оплаты: наличный или безналичный расчет. К оплате принимаются банковские карты:
